.main{
	display: table;
	margin: 200px auto;
	border-spacing: 10px;
	background-color: #eee;
	border: 1px solid black;
	font-size: 62.5%;
}

.main h1{
	font-size: 1.6em;
	text-align: center;
	font-style: italic;
}

.main p{
	font-size: 1.4em
}

.firstRow, .secondRow, .thirdRow{
	display: table-row;
}

.firstRow p, .secondRow p, .thirdRow p{
	display: table-cell;
}

.firstRow input, .secondRow input, .thirdRow input{
	display: table-cell;
}

.thirdRow{
	display: none;
}

.thirdRow + p{
	text-align: right;
	padding-right: 8px;
}

